if [[ -d .venv ]]; then
    VENV_DIR=.venv
fi

if [[ -d venv ]]; then
    VENV_DIR=venv
fi

if [[ -n "$VENV_DIR" ]]; then
    # shellcheck disable=SC1091
    source "$VENV_DIR/bin/activate"
    # shellcheck disable=SC2181
    if [[ $? -eq 0 ]]; then
        unset PS1
        export CUSTOM_PS1="($VENV_DIR) "
    else
        echo "Failed to activate virtualenv"
        exit 1
    fi
fi

