#!/bin/bash


# shellcheck disable=SC1091
[[ -f todo/config ]] && . todo/config


[[ -d venv ]] && VENV_DIR=venv
[[ -d .venv ]] && VENV_DIR=.venv
if [[ -n "$VENV_DIR" ]]; then
    # shellcheck disable=SC1091
    if ! source "$VENV_DIR/bin/activate"; then
        echo "Failed to activate virtualenv"
        exit 1
    fi
    unset PS1
    export CUSTOM_PS1="($VENV_DIR) "
fi
PATH_add "$PWD/tests"
PYTHONPATH=$PYTHONPATH:$PWD
export PYTHONPATH
